services:
  api-vekino:
    image: ghcr.io/sasamile/api-vekino:latest
    container_name: nest-backend
    restart: always
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    networks:
      - vekino-network

networks:
  vekino-network:
    driver: bridge
